* {
  box-sizing: border-box;
  max-width: 100%;
}

a {
  color: #F67280;
}

body {
  margin: 0;
  background: #355C7D ;
  box-sizing: border-box;
  font-family: 'Fira sans';
  /* overflow-x: hidden; */
  position: relative;
  font-size: 1.2rem;
}

#quickContact {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  text-align: right;
  color: #fffa;
}

@media(max-width: 900px) {
  #quickContact {
    display: none;
  }
}

.horizontalRule {
  width: 100%;
  height:1px;
  margin: auto;
  border-top: 1px solid #ccc;
}

.panel {
  width: 100vw;
  min-height: 1em;
  padding: 3rem;
}

.background {
  box-shadow: inset #0003 2px 2px 5px;
}

.white {
  /* background: #white; */
  color: white
}

.withPadding {
  padding: 2rem 10%;
}

#banner {
  height: 75vh;
  box-sizing: border-box;

  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;

  color: #eee;
  font-size: 3rem;
  text-align: center;
  background-image: linear-gradient(147deg, #355C7D, #6C5B7B);
}

#about h2 {
  color: #F67280;
}

#experience {
  color: #eee;
  background-image: linear-gradient(147deg, #355C7D, #C06C84);
  text-align: center;
}

.iconSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.iconSection a {
  text-decoration: none;
  font-size: 5rem;
  display: inline-block;
  margin: 0.5rem;
  color: #ccc;
}

#contact {
  text-align: center;
}

#copyright {
 color: rgb(104, 134, 160);
}